<%- include('../partial/header') %>
<div class="row mx-3">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item"><a class="linknodeco" href="/product">모든 상품 보기</a></li>
            <% categories.forEach(category => { %> <li class="list-group-item"> <a class="linknodeco" href="/product/<%= category.slug %>"> <%= category.title %> </a></li><% }) %>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="row row-cols-1 row-cols-sm-2  row-cols-md-3 g-3">
            <% products.forEach(product => { %>
                <div class="col">
                    <div class="card shadow-sm">
                        <a class="bd-placeholder-img card-img-top" href="product/<%= product.category %>/<%= product.slug %>">
                            <img  style="width:100%; height:300px" src="/product-images/<%= product.id %>/<%= product.image %>" alt="product" >  
                        </a>
                        <div class="card-body">
                            <p class="card-text"><%= product.title %></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-secondary" href="/product/<%= product.category %>/<%= product.slug %>"><i class="bi bi-search"></i></a>
                                    <% if (currentUser) { %><form action="/cart/<%= product.slug %>" method="POST"><button class="btn btn-secondary" role="button"><i class="bi bi-cart"></i></button></form><% } %>
                                </div>
                                <small class="text-muted"><%= product.price %>원</small>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<%- include('../partial/footer') %>
