<%- include('../partial/header') %>
<div class="mx-3">
    <h2 class="mb-3"> 상품 수정</h2>
    <form id="productForm" method="POST" action="/admin/product/edit/<%= id %>" enctype="multipart/form-data">
        <input type="text" id="title" class="mb-3 form-control" name="title" placeholder="상품명" required value="<%=title %>">
        <textarea name="desc" id="description" class="mb-3 form-control" cols="30" rows="10" placeholder="상품설명" required><%= desc %></textarea>
        <select name="category" id="category" class="mb-3 form-control"><% categories.forEach((category) => { %><option value="<%= category.slug %>"><%= category.title %></option> <% }) %></select>
        <input type="number" class="form-control mb-3" name="price" id="price" placeholder="가격" required value="<%= price%>">
        <input type="file" class="mb-3 form-control" name="image" id="img" required>
        <img src="#" id="imgPreview" alt="" class="mb-3" style="width: 100px;">
    </form>
    <p>갤러리 세부 이미지들 추가</p>
    <div class="d-flex justify-content-center">
        <% galleryImages.forEach(image => { %>
            <% if (image !== 'thumbs') { %>
                <form class="mr-3" action="/admin/product/gallery/<%= id %>/<%= image %>?_method=DELETE" method="POST">
                    <button type="submit">
                        <img src="/product-images/<%= id %>/gallery/thumbs/<%= image %>" alt="">
                    </button>
                </form>
            <% } %>
        <% }) %>
    </div>
    <form enctype="multipart/form-data" method="post" action="/admin/product/gallery/<%= id %>" class="mb-3 dropzone" id="dropzoneForm">
        <div class="fallback">
            <input type="file" name="file" multiple>
            <input type="submit" value="upload">
        </div>
    </form>
    <div class="btn-box mb-3">
        <button id="submitBtn" class="btn btn-secondary" type="submit"><i class="bi bi-pencil"></i></button>
        <a href="/admin/product" class="btn btn-secondary"><i class="bi bi-backspace"></i></a>
    </div>
</div>

<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<script> Dropzone.options.dropzoneForm = { acceptedFiles: "image/*", init: function() { this.on("queuecomplete", file => { setTimeout(() => { location.reload(); }, 1000); }); }}</script>
<script> document.getElementById('submitBtn').addEventListener('click', function() { document.getElementById('productForm').submit(); });</script>
<script>
    function readFile(inputEl) {
        if (inputEl.files && inputEl.files[0]) {
            let reader = new FileReader();
            reader.readAsDataURL(inputEl.files[0]);
            reader.onload = function(e) { document.querySelector('#imgPreview').setAttribute('src', e.target.result);}
        }
    }
    document.querySelector('#img').addEventListener('change', function() { readFile(this);})
</script>
<%- include('../partial/footer') %>
