<%- include('../partial/header') %>
<div class="mx-3">
    <% if (cart && cart.length > 0) { %>
    <h5>장바구니</h5>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">이미지</th>
                <th scope="col">이름</th>
                <th scope="col">가격</th>
                <th scope="col">개수</th>
                <th style="width: 15%;" scope="col">변경</th>
                <th style="width: 15%;" scope="col">가격</th>
            </tr>
        </thead>
        <tbody>
            <% let total = 0 %>
            <% cart.forEach(product => { %>
                <% let sub = product.qty * product.price  %>
                <% total += +sub %>
                <tr>
                    <td><img style="width:100px;" src="<%= product.image %>" alt="product"></td>
                    <td><%= product.title %></td>
                    <td><%= product.price %></td>
                    <td><%= product.qty %></td>
                    <td>
                        <a class="btn btn-secondary" href="/cart/update/<%= product.title %>?action=add"><i class="bi bi-plus-circle"></i></a>&nbsp;
                        <a class="btn btn-secondary" href="/cart/update/<%= product.title %>?action=remove"><i class="bi bi-dash-circle"></i></a>&nbsp;
                        <a class="btn btn-secondary" href="/cart/update/<%= product.title %>?action=clear"><i class="bi bi-x-circle"></i></a>&nbsp;
                    </td>
                    <td><%= sub %>원</td>
                </tr>
            <% }) %>
            <tr>
                <td colspan="4"></td>
                <td><form action="/cart?_method=DELETE" method="POST"><button class="clearcart btn btn-secondary w-100"><i class="bi bi-cart-x"></i></button></form></td>
                <td><a class="w-100 btn btn-secondary buyout" onclick="requestPay()"><%= total %>원 <i class="bi bi-credit-card"></i></a></td>
            </tr>
        </tbody>
    </table>
    <% } else { %> <h5>장바구니가 비어있습니다.</h5> <% } %>
</div>
<!-- <script>
    // 실제 PG 방식 포트원 https://portone.io/korea/ko
    const IMP = window.IMP; // 생략 가능
    IMP.init("가멩점식별아이디"); // 예: imp00000000a
    function requestPay() {
        IMP.request_pay({
            pg: "kcp.{상점ID}",
            pay_method: "결제방식",
            merchant_uid: "주문번호",
            name: "상품명",
            amount: 100,
            buyer_email: "구매자 이메일",
            buyer_name: "구매자 이름",
            buyer_tel: "구매자 핸드폰번호",
            buyer_addr: "구매자 주소",
            buyer_postcode: "구매자 우편번호"
        }, function(rsp) { // callback
            if (rsp.success) {
                // 결제 성공 시
                fetch('/cart/complete-order')
                    .then(res => { location.reload();})
                    .catch(err => {console.error(err);})
            } else {
                // 결제 실패 시 
                console.log('실패', rsp);
            }
        });
    }
</script> -->
<script> 
    async function requestPay(){ 
        await fetch('/cart/complete-order')
        .then(res => { location.reload();})
        .catch(err => {console.error(err);})
    } 
</script>
<%- include('../partial/footer') %>